<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Bigbirdify</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'modernizr' %>
</head>
<%= content_tag :body, data: { module: controller_name, action: action_name } do %>

  <article>
    <header>
      <h1>BigBirdify</h1>
    </header>
    <section>
      <%= content_tag :div, "", class: "message" %>
      <%= yield %>
    </section>
    <footer>
      Put together by @<%= link_to "olvado", "http://olvado.com" %>.
    </footer>
  </article>

<%= javascript_include_tag 'application' %>
<% end %>
</html>
